
.logo {
    width: 100%;
    max-width: 90px;
    height: 36px;
    color: #242635;
}

.list {
    width: 100%;
    max-width: 267px;
    height: 25px;
    color:#242635;
    font-family: Source Sans Pro;
}

.works {
    width: 100%;
    max-width: 42px;
    height: 23px;
}

.services {
    width: 100%;
    max-width: 56px;
    height: 23px;
}

.contacs {
    width: 100%;
    max-width: 59px;
    height: 23px;
}


.title {
    width: 100%;
    max-width: 343px;
    height: 102px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 90px;
    letter-spacing: -2px;
    color: #242635;
}

.text {
    width: 100%;
    max-width: 410px;
    height: 98px;
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #242635;
}

.arrow {
    width: 100%;
    max-width: 16px;
    height: 40px;
}

.adaptive {
    width: 100%;
    height: 100vh;
}

 @media screen and (max-width: 1000px) {
    .adaptive-bg {
        background-image: url('../images/Bitmap.png');
    }
} 
@media screen and (max-width: 800px) {
    .adaptive-bg {
        background-image: url('../images/Bitmap.png');
    }
}

 @media screen and (min-width: 1001px) {
    .adaptive-bg {
        background-image: url('../images/Bitmap.png');
    }
} 